body {
  background: linear-gradient(90deg, rgb(17, 37, 54) 0%, rgb(60, 119, 171) 50%);
  font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
  .head{
    display: flex;
    justify-content: space-between;
    padding:0 30px;
  }
  .head h2{
    text-shadow: 0 5px 2px rgba(43, 42, 42, 0.8);
    color: #fff;
  }
  .head button{
    margin: 10px;
    border: none;
    padding: 3px 10px;
    height: min-content;
    background-color: #041e3b;
    border: none;
    border-radius: 10px;
  }
  .head button a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 3px 5px;

  }

  .file-upload {
    background-color: #ffffff;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background:  rgb(39, 87, 129);
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: rgb(23, 53, 78);
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed rgb(39, 87, 129);
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: rgba(49, 89, 124, 0.95);
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #cccecb;
    padding: 60px 0;
    font-size: medium;
    font-style: italic;
  }
  
  .file-upload-image {
    height: 270px;
    width: 500px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #a32214;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
 
  .remove-image:hover {
    background: #ae2715;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  .sbmt{
    background-color: rgb(38, 97, 149);
    &:hover{
    background-color:  rgb(25, 66, 103);
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
    }
  }
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }




